Barista.SharePoint.Core/Service References/SPBaristaSearchService/Search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://barista/services/v1/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://barista/services/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://barista/services/v1/Imports">
      <xsd:import schemaLocation="http://localhost:8500/Barista/Search?xsd=xsd0" namespace="http://barista/services/v1/" />
      <xsd:import schemaLocation="http://localhost:8500/Barista/Search?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8500/Barista/Search?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBaristaSearch_IndexDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexDocument" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_IndexDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_IndexJsonDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexJsonDocument" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_IndexJsonDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexJsonDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_IndexJsonDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:IndexJsonDocuments" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_IndexJsonDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:IndexJsonDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_DeleteDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocuments" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_DeleteDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_DeleteAllDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllDocuments" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_DeleteAllDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_Retrieve_InputMessage">
    <wsdl:part name="parameters" element="tns:Retrieve" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_Retrieve_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_SearchOData_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchOData" />
  </wsdl:message>
  <wsdl:message name="IBaristaSearch_SearchOData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchODataResponse" />
  </wsdl:message>
  <wsdl:portType name="IBaristaSearch">
    <wsdl:operation name="IndexDocument">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/IndexDocument" message="tns:IBaristaSearch_IndexDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/IndexDocumentResponse" message="tns:IBaristaSearch_IndexDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexJsonDocument">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/IndexJsonDocument" message="tns:IBaristaSearch_IndexJsonDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/IndexJsonDocumentResponse" message="tns:IBaristaSearch_IndexJsonDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IndexJsonDocuments">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/IndexJsonDocuments" message="tns:IBaristaSearch_IndexJsonDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/IndexJsonDocumentsResponse" message="tns:IBaristaSearch_IndexJsonDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDocuments">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/DeleteDocuments" message="tns:IBaristaSearch_DeleteDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/DeleteDocumentsResponse" message="tns:IBaristaSearch_DeleteDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllDocuments">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/DeleteAllDocuments" message="tns:IBaristaSearch_DeleteAllDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/DeleteAllDocumentsResponse" message="tns:IBaristaSearch_DeleteAllDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/Retrieve" message="tns:IBaristaSearch_Retrieve_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/RetrieveResponse" message="tns:IBaristaSearch_Retrieve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/Search" message="tns:IBaristaSearch_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/SearchResponse" message="tns:IBaristaSearch_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchOData">
      <wsdl:input wsaw:Action="http://barista/services/v1/IBaristaSearch/SearchOData" message="tns:IBaristaSearch_SearchOData_InputMessage" />
      <wsdl:output wsaw:Action="http://barista/services/v1/IBaristaSearch/SearchODataResponse" message="tns:IBaristaSearch_SearchOData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>