Barista.SharePoint.Core/Service References/SPBaristaSearchService/Search2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://barista/services/v1/" elementFormDefault="qualified" targetNamespace="http://barista/services/v1/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8500/Barista/Search?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IndexDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="document" nillable="true" type="tns:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="Fields" nillable="true" type="tns:ArrayOfFieldBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfFieldBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldBase" nillable="true" type="tns:FieldBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFieldBase" nillable="true" type="tns:ArrayOfFieldBase" />
  <xs:complexType name="FieldBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Boost" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="Index" type="tns:FieldIndexType" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Store" type="tns:FieldStorageType" />
      <xs:element minOccurs="0" name="TermVector" type="tns:FieldTermVectorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldBase" nillable="true" type="tns:FieldBase" />
  <xs:simpleType name="FieldIndexType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotIndexed" />
      <xs:enumeration value="Analyzed" />
      <xs:enumeration value="AnalyzedNoNorms" />
      <xs:enumeration value="NotAnalyzed" />
      <xs:enumeration value="NotAnalyzedNoNorms" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldIndexType" nillable="true" type="tns:FieldIndexType" />
  <xs:simpleType name="FieldStorageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Stored" />
      <xs:enumeration value="NotStored" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldStorageType" nillable="true" type="tns:FieldStorageType" />
  <xs:simpleType name="FieldTermVectorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes" />
      <xs:enumeration value="WithPositions" />
      <xs:enumeration value="WithOffsets" />
      <xs:enumeration value="WithPositionsOffsets" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FieldTermVectorType" nillable="true" type="tns:FieldTermVectorType" />
  <xs:complexType name="NumericField">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FieldBaseOfdouble">
        <xs:sequence>
          <xs:element minOccurs="0" name="PrecisionStep" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NumericField" nillable="true" type="tns:NumericField" />
  <xs:complexType name="FieldBaseOfdouble">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FieldBaseOf{0}{#}" Namespace="http://barista/services/v1/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="double" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FieldBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldBaseOfdouble" nillable="true" type="tns:FieldBaseOfdouble" />
  <xs:complexType name="StringField">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FieldBaseOfstring">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StringField" nillable="true" type="tns:StringField" />
  <xs:complexType name="FieldBaseOfstring">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FieldBaseOf{0}{#}" Namespace="http://barista/services/v1/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FieldBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldBaseOfstring" nillable="true" type="tns:FieldBaseOfstring" />
  <xs:complexType name="DateField">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FieldBaseOfdateTime">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DateField" nillable="true" type="tns:DateField" />
  <xs:complexType name="FieldBaseOfdateTime">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="FieldBaseOf{0}{#}" Namespace="http://barista/services/v1/" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FieldBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FieldBaseOfdateTime" nillable="true" type="tns:FieldBaseOfdateTime" />
  <xs:element name="IndexDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexJsonDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="document" nillable="true" type="tns:JsonDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="JsonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataAsJson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MetadataAsJson" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonDocument" nillable="true" type="tns:JsonDocument" />
  <xs:element name="IndexJsonDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexJsonDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documents" nillable="true" type="tns:ArrayOfJsonDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfJsonDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JsonDocument" nillable="true" type="tns:JsonDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJsonDocument" nillable="true" type="tns:ArrayOfJsonDocument" />
  <xs:element name="IndexJsonDocumentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="documentIds" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllDocumentsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Retrieve">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="documentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RetrieveResult" nillable="true" type="tns:JsonDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchResult" nillable="true" type="tns:ArrayOfSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfSearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResult" nillable="true" type="tns:SearchResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResult" nillable="true" type="tns:ArrayOfSearchResult" />
  <xs:complexType name="SearchResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Document" nillable="true" type="tns:JsonDocument" />
      <xs:element minOccurs="0" name="Score" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResult" nillable="true" type="tns:SearchResult" />
  <xs:element name="SearchOData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="defaultField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchODataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchODataResult" nillable="true" type="tns:ArrayOfSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>