Barista.SharePoint.Core/Service References/K2Services/WCF6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.k2.com/core/d1" elementFormDefault="qualified" targetNamespace="http://schemas.k2.com/core/d1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="WhoAmI">
    <xs:complexType />
  </xs:element>
  <xs:element name="WhoAmIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="WhoAmIResult" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>