Barista.SharePoint/Service References/K2Services/WCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.k2.com/framework/d1" elementFormDefault="qualified" targetNamespace="http://schemas.k2.com/framework/d1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FailureResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:long" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FailureResult" nillable="true" type="tns:FailureResult" />
</xs:schema>